<div class="bootstrap-wrapper">

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">

              <mat-card class="example-card">                 
                <mat-card-content>
                <h1 class="text-center">Register Here!!</h1>
                
                <form (ngSubmit)="registerUser()">
                    <mat-form-field appearance="outline" class="full-width mt20">
                        <mat-label>User Name</mat-label>
                        <input matInput placeholder="User Name" 
                        [(ngModel)]="user.username" name="username">
                        <mat-hint>UserName must be unique</mat-hint>
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="Password"
                         [(ngModel)]="user.password" name="password">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="First Name" 
                        [(ngModel)]="user.firstName" name="firstName">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Last Name" 
                        [(ngModel)]="user.lastName" name="lastName">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email"
                         [(ngModel)]="user.email" name="email">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Contact No</mat-label>
                        <input matInput placeholder="Contact No" 
                        [(ngModel)]="user.phone" name="phone">
                      </mat-form-field>

                     <div class="mb20 mt20">
                      <button type="submit"  mat-raised-button color="primary">Signup</button>
                      <button  mat-raised-button color="accent" style="margin-left: 2%;">Clear</button>
                     </div>

                </form>

                </mat-card-content>
                </mat-card>

            </div>
        </div>
    </div>
</div>